.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #000000a9;
    padding: 0 0 0 4rem;
    display: flex;
    align-items: center;
}

.brand-logo a {
    color: white;
    text-decoration: none;
}

.brand-logo img {
    width: 2.5rem;
}

.hamburger-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hamburger-menu-cta {
    border: none;
    background-color: transparent;
    margin: 0 4rem 0 0;
}

.nav {
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
}

.side-drawer {
    height: 100%;
    background: #000000a9;
    box-shadow: 2px 0px 5px rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    display: flex;
    justify-content: flex-end;
    max-width: 400px;
    z-index: 200;
}

.side-drawer ul {
    list-style: none;
    width: 100%;
    padding: 80px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side-drawer li {
    padding: 0 0 1rem;
}

.side-drawer a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}

.nav a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}

.nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0 4rem 0 0;
}

.nav li {
    padding: 0 0.5rem;
}